<p><%= flash[:notice] %></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-8">
      <div class="h2 text-center">みんなの投稿</div>
      <%= render 'post_list', post: @posts %>
    </div>

    <div class="col-4">
      <div class="pt-5 border", id="member_<%= current_member.id %>">
        <p class="text-center pt-3"><%= image_tag current_member.get_profile_image, class: "rounded-circle", size:"80x80"%></p>
        <p class="text-center"><%= link_to current_member.name, member_path(current_member.id) %></p>
        <p class="text-center follow_btn">
          <%= link_to edit_member_path(current_member.id), class: "btn btn-sm btn-secondary rounded-pill" do %>
            <i class="fas fa-user-cog"></i> 編集する
          <% end %>
        </p>
        <table class="table">
          <tr>
            <th style="width: 45%">フォロー数</th>
            <td><%= link_to current_member.followings.count, member_followings_path(current_member) %></td>
          </tr>
          <tr>
            <th>フォロワー数</th>
            <td><%= link_to current_member.followers.count, member_followers_path(current_member) %></td>
          </tr>
          <tr>
            <th>年代</th>
            <td><%= current_member.age_i18n %></td>
          </tr>
          <tr>
            <th>世帯構成</th>
            <td><%= current_member.composition_i18n %></td>
          </tr>
          <p>
            <%= current_member.introduction %>
          </p>
        </table>
      </div>
      <%= render 'tag_list', tag: @tag %>
    </div>
  </div>
</div>