<p><%= flash[:notice] %></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-3">
      <div class="input-group mt-5">
        <input type="text" class="form-control" placeholder="キーワードを入力">
        <button class="btn btn-outline-success" type="button" id="button-addon2"><i class="fas fa-search"></i> 検索</button>
      </div>
      <%= render 'tag_list', tag: @tag %>
    </div>

    <div class="col-9">
      <div class="h2 text-center">全ての投稿 <%= @posts.count %>件</div>
      <table class="table table-hover">
        <% @posts.each do |post| %>
        <tr>
          <td class="text-center">
            <%= image_tag post.member.get_profile_image, class: "text-center", size:"50x50" %></br>
            <%= link_to post.member.name, member_path(post.member_id) %>
          </td>
          <td>
            <%= link_to post.title, post_path(post.id) %>
          </td>
          <td><%= render 'public/favorites/favorite', post: post %></td>
          <% if post.member == current_member %>
          <td><%= link_to "削除", post_path(post.id), method: :delete %></td>
          <% end %>
        </tr>
        <% end %>
      </table>