<p><%= flash[:notice] %></p>

<div class="container py-4 px-sm-0">
  <div class="row">
    <div class="col-3">
      <div class="pt-4 pl-4">
        <h5 class="font-weight-bold pt-4 ml-3"><i class="fas fa-tag"></i>&nbsp;タグ一覧</h5>
        <% @tags.each do |tag| %>
          <% if tag.posts.count >= 1 %> <!--タグに関連する投稿が0の時はそのタグを非表示にする為の分岐-->
            <li class="ml-4 mb-1"><%= link_to tag.name, tag_posts_path(tag.id), class: "text-dark" %> (<%= tag.posts.count %>)</li>
          <% else %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-9">
      <div class="h4 text-center border-bottom pb-2 mb-4"><i class="fas fa-search"></i>&nbsp;タグ"<strong><%= @tag.name %></strong>"<span class="h5">に関連する投稿 全<%= @posts.count %>件</span></div>
      <%= render 'post_list', post: @posts %>
    </div>
  </div>
</div>