<div class="container">
  <div class="row">

    <div class="col-7 mt-5", id="post_<%= @post.id %>">
      <p class="h2 font-weight-bold"><%= @post.title %></p>
      <span>
        <i class="fas fa-tag"></i>
        <% @post_tags.each do |tag| %>
          <%= link_to tag.name, tag_posts_path(tag_id: tag.id) %>
        <% end %>
      </span></br>
      <small class="text-muted">投稿日&nbsp;<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></small></br>
      <div class="mt-2 pt-5 pb-3 border-top">
        <%= @post.body %>
      </div>
      <div class="mb-3">
        <%= image_tag @post.get_image %>
      </div>
      <% if @post.member == current_member %>
        <div class="text-right">
          <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-sm btn-success" %>
          <%= link_to "削除", post_path(@post.id), method: :delete, class: "btn btn-sm btn-danger" %>
        </div>
      <% else %>
        <div class="favorite_btn">
          <%= render 'public/favorites/favorite_btn', post: @post %>
        </div>
      <% end %>
      <div class="comment_area">
        <%= render 'public/post_comments/comment_area', post: @post %>
      </div>
    </div>

    <div class="col-1"></div>

    <div class="col-4 border-left border-right">
      <%= render 'member_side', tag: @tag %>
    </div>
  </div>