<p class=""><%= flash[:notice] %></p>

<div class="container">
  <div class="row">

    <div class="col-4 pt-4">
      <% if member_signed_in? %>
      <% else %>
        <div class="border border-success rounded p-4">
          <div class="text-center pb-2">
            こちらからお試しでご利用できます。
          </div>
          <div class="text-center pr-3 pb-3">
            <%= link_to 'ゲストログイン', members_guest_sign_in_path, class: "btn btn-secondary mb-3", method: :post %></br>
          </div>
          <div class="text-center pb-2">
            全ての機能をご利用するには</br>
            新規登録、またはログインが必要です。</br>
          </div>
          <div class="text-center pr-3">
            <%= link_to 'ログイン',new_member_session_path, class: "btn btn-info mr-4" %>
            <%= link_to '新規登録',new_member_registration_path, class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
      <div class="border border rounded p-4 my-3", style="border-color: #6c757d;">
        <%= render 'member_side' %>
      </div>
      <div class="pt-5">
        <%= render 'public/searches/rakuten_search' %>
      </div>
    </div>

    <div class="col-1"></div>

    <div class="col-7 pt-4", id="post_<%= @post.id %>">
      <p class="h2 font-weight-bold"><%= @post.title %></p>
      <i class="fas fa-folder"></i>&nbsp;<%= @post.genre_i18n %>
      <span class="pl-5">
        <i class="fas fa-tag"></i>
        <% @post_tags.each do |tag| %>
          <%= link_to tag.name, tag_posts_path(tag_id: tag.id), class: "text-dark" %>
        <% end %>
      </span></br>
      <small class="text-muted">投稿日&nbsp;<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></small></br>
      <div class="mt-2 py-5 border-top">
        <%= @post.body %>
      </div>
      <div class="mb-3">
        <% if @post.image.attached? %>
          <% @post.image.each do |image| %>
            <div class="d-flex justify-content-center pb-5">
              <%= image_tag image.variant(resize:'300x300') %>
            </div>
          <% end %>
        <% end %>
      </div>
      <span class="text-warning">
        <i class="fas fa-star"></i>
      </span>
      <%= @post.favorites.count %>
      <% if member_signed_in? %>
        <% if @post.member == current_member %>
          <div class="text-right">
            <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-sm btn-success" %>
            <%= link_to "削除", post_path(@post.id), method: :delete, class: "btn btn-sm btn-danger" %>
          </div>
        <% else %>
          <div class="favorite_btn h5">
            <%= render 'public/favorites/favorite_btn', post: @post %>
          </div>
        <% end %>
      <% else %>
      <% end %>
      <div class="comment_area">
        <%= render 'public/post_comments/comment_area', post: @post %>
      </div>
    </div>
  </div>