<div class="container">
  <div class="row">
    <div class="col-3">
      <%= image_tag @post.member.get_profile_image, size:"100x100"%></br>
      <%= link_to @post.member.name, member_path(@post.member_id) %>
    </div>
    <div class="col-6">
      <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></br>
      <%= @post.title %>

      <% @post_tags.each do |tag| %>
        <%= link_to tag.name, tag_posts_path(tag_id: tag.id) %>
      <% end %>
    </div>
    <div class="w-100">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= @post.body %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag @post.get_image, size: "400x200" %>
    </div>
  </div>
  <% if @post.member == current_member %>
    <%= link_to "編集する", edit_post_path(@post.id) %>
    <%= link_to "削除", post_path(@post.id), method: :delete %>
  <% end %>
  <div>
    コメント件数：<%= @post.post_comments.count %>
    <% @post.post_comments.each do |post_comment| %>
      <%= image_tag post_comment.member.get_profile_image, size:"50x50"%>
      <%= link_to post_comment.member.name, member_path(post_comment.member_id) %>
      <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
      <%= post_comment.comment %>
      <% if post_comment.member == current_member %>
        <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_with model: [@post, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '2', placeholdaer: "コメント" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>