<div class="container px-5 px-sm-0">
  <div class="row">
    <% if @model == 'post' %>
      <div class="col-3">
        <%= render 'public/posts/tag_list', tag: @tag %>
      </div>
      <div class="col-9 pt-5">
        <div class="h2 text-center">"<%= @content %>" の投稿検索結果 全<%= @posts.count %>件</div>
        <%= render 'public/posts/post_list', post: @posts %>
      </div>

    <% elsif @model == 'member' %>
      <div class="col-1"></div>
      <div class="col-10 pt-5">
        <div class="h2 text-center">"<%= @content %>" のユーザー検索結果 全<%= @members.count %>名</div>
        <%= render 'public/members/member_list', member: @members %>
      </div>
      <div class="col-1"></div>
    <% end %>
  </div>
</div>
