<div class="container py-5 px-sm-0">
  <div class="row">
    <% if @model == 'post' %>
      <div class="col-3">
        <div class="pt-4 pl-5 ml-3">
          <h5 class="font-weight-bold pt-4 ml-3"><i class="fas fa-tag"></i>&nbsp;タグ一覧</h5>
          <% @tags.each do |tag| %>
            <li class="ml-4 mb-1"><%= link_to tag.name, tag_posts_path(tag.id), class: "text-dark" %> (<%= tag.posts.count %>)</li>
          <% end %>
        </div>
      </div>
      <div class="col-9">
        <div class="h4 text-center border-bottom pb-2 mb-4"><i class="fas fa-search"></i>&nbsp;キーワード"<strong><%= @content %></strong>"<span class="h5">の投稿検索結果</span></div>
        <%= render 'public/posts/post_list', post: @posts %>
      </div>

    <% elsif @model == 'member' %>
      <div class="col-1"></div>
      <div class="col-10 pt-5">
        <div class="h4 text-center pb-2 mb-4"><i class="fas fa-search"></i>&nbsp;キーワード"<strong><%= @content %></strong>"<span class="h5">のユーザー検索結果</div>
        <%= render 'public/members/member_list', member: @members %>
      </div>
      <div class="col-1"></div>
    <% end %>
  </div>
</div>
