<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-7">
      <div class="pt-5", id="member_<%= @member.id %>">
        <h2 class="text-center font-weight-bold">
          <% if @member == current_member %>
        　マイプロフィール
          <% else %>
          　ユーザープロフィール
          <% end %>
        </h5>
        <div class="text-center py-3"><%= image_tag @member.get_profile_image, class: "rounded-circle", size:"100x100"%></div>
        <p class="text-center h4 font-weight-bold"><%= @member.name %></p>
        <p class="text-center follow_btn">
          <% if @member.id == current_member.id %>
            <%= link_to edit_member_path(@member.id), class: "btn btn-secondary rounded-pill" do %>
              <i class="fas fa-user-cog"></i> 編集する
            <% end %>
          <% else %>
            <%= render 'public/follows/follow_btn', member: @member %>
          <% end %>
        </p>
        <table class="table">
          <tr>
            <th style="width: 20%">フォロー数</th>
            <td><%= link_to @member.followings.count, member_followings_path(@member) %></td>
          </tr>
          <tr>
            <th>フォロワー数</th>
            <td><%= link_to @member.followers.count, member_followers_path(@member) %></td>
          </tr>
          <tr>
            <th>年代</th>
            <td><%= @member.age_i18n %></td>
          </tr>
          <tr>
            <th>世帯構成</th>
            <td><%= @member.composition_i18n %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @member.introduction %></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-5 pt-5">
      <% if @member == current_member %>
        <div class="text-center">自分の投稿 全<%= @member.posts.count %>件</div>
      <% else %>
        <div class="text-center">"<%= @member.name %>" さんの投稿 全<%= @member.posts.count %>件</div>
      <% end %>
      <div class="small">
        <%= render 'public/posts/post_list', post: @posts %>
      </div>
    </div>
  </div>
</div>