<div class="pt-5 border-bottom">
  コメント(<%= @post.post_comments.count %>)
</div>
<% @post.post_comments.each do |post_comment| %>
  <div class="border-bottom py-3">
    <div><%= post_comment.comment %></div>
    <div class="small">
      <%= image_tag post_comment.member.get_profile_image, class: "rounded-circle", size:"15x15"%>
      <% if post_comment.member == @post.member %>
        <%= link_to post_comment.member.name, member_path(post_comment.member_id) %>(投稿者)
      <% else %>
        <%= link_to post_comment.member.name, member_path(post_comment.member_id) %>
      <% end %>
      <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
      <% if post_comment.member == current_member %>
        <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="pt-2">
  <%= form_with model: [@post, @post_comment], local: false do |f| %>
    <p><%= f.text_area :comment, rows: '2', placeholdaer: "ここにコメントを入力" %></p>
    <p><%= f.submit "コメントする" %></p>
  <% end %>
</div>