<%= flash[:notice] %>

<div class="container">
  <div class="row py-5">
    <div class="col-3"></div>

    <div class="col-6">
      <div class="border-bottom mb-3">
        <h4 class="font-weight-bold">ログイン</h4>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table table-borderless">
          <tr>
            <td style="width: 60%">メールアドレス</td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>

          <tr>
            <td>パスワード</td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>

          <tr>
            <td class="text-right py-4 btn-lg"><%= f.submit "ログイン", class: "px-2 btn-success rounded" %></td>
          </tr>
        </table>
      <% end %>

      <div class="text-center">
        <span class="small">新規登録は</span><%= render "public/shared/links" %></br>
        <span class="small">お試しで利用したい方は</span><%= link_to 'ゲストログイン', members_guest_sign_in_path, class: "ml-2", method: :post %>
      </div>
    </div>
  </div>
</div>