<nav class="navbar navbar-expand-lg", style="background-color: #BFDCAE;">
  <div class="collapse navbar-collapse">
    <%= link_to "top", root_path %>
    <%= render 'layouts/search' %>
    <div class="d-flex flex-column ml-auto">
      <ul class="navbar-nav">
        <% if member_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-success  mr-3 dropdown-toggle" data-toggle="dropdown">
              投稿
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <ul>
                <li><%= link_to "投稿一覧", posts_path %></li>
                <li><%= link_to "新規投稿", new_post_path %></li>
              </ul>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-success  mr-3 dropdown-toggle" data-toggle="dropdown">
              ユーザー
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <li><%= link_to "会員一覧", members_path %></li>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-success mr-3 dropdown-toggle" data-toggle="dropdown">
              <%= image_tag current_member.get_profile_image, size:"20x20" %>
              <%= current_member.name %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <li><%= link_to "マイページ", member_path(current_member.id) %></li>
              <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></li>
            </div>
          </div>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to "登録会員一覧", admin_members_path, class:"btn btn-outline-success text-light" %>
          </li>
          <li>
            <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-outline-success text-light" %>
          </li>
        <% else %>
          <li>
            <%= link_to "HOME", root_path, class:"btn btn-success mr-3" %>
          </li>
          <li>
            <%= link_to "サイト概要", about_path, class:"btn btn-success mr-3" %>
          </li>

          <div class="dropdown">
            <button class="btn btn-success  mr-3 dropdown-toggle" data-toggle="dropdown">
              ログイン
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <li><%= link_to "ログイン", member_session_path, class:"text-danger text-decoration-none" %></li>
              <li><%= link_to "新規登録", new_member_registration_path %></li>
            </div>
          </div>

          <li>
            <%= link_to '投稿を見に行く→', members_guest_sign_in_path, class: "btn btn-success  mr-3", method: :post %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>