<!DOCTYPE html>
<html>
  <head>
    <title>eLIFE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
<script>
  bubbly({
      colorStart: "#fff",
      colorStop: "#fff",
      blur: 3,
      bubbles: 30,
      compose: "source-over",
      shadowColor: "#5DB09B",
      radiusFunc: () => 5 + Math.random() * 70,
      bubbleFunc:() => `hsla(${2 + Math.random() * 10}, 30%, 100%, .3)`,
  });
</script>